<% @articles.each.with_index do |article,index| %>
<a href='<%= article.url %>' target='_blank'>
	<div class='article<% if index == 3 %><%= ' right' %><% end %>' data-article-id='<%= article.id %>' data-total-articles='<%= @total_articles %>'>
		<div class='image'><%= image_tag article.image_url %></div>
		<div class='text'>
			<h3><%= article.title %></h3>
			<p class='abstract'><span><%= article.abstract %></span></p>
		</div>
		<p class='popularity'>Twitter Popularity: <span><%= article.twitter_popularity %></span></p>
		<p class='source'>Source: <%= article.source %> </p>
	</div>
</a>
<% end %>