<% @topics.each do |topic| %>
<div class='topic' data-id='<%= topic.id %>' data-day-id='<%= @day.id %>' data-day-string='<%= @day.date.to_s %>'>
	<%= image_tag topic.image_url %>
	<h2><%= topic.title %></h2>
</div>
<% end %>