<!DOCTYPE html>
<html>
		<head>
	   <%= stylesheet_link_tag "splash" %>
	   <link href='http://fonts.googleapis.com/css?family=Londrina+Solid' rel='stylesheet' type='text/css'>
		</head>

		<body>

<div class ="splash_container">
	<h1 id="header">News Ketchup</h1>
		<table class="table">
			<tr>
				<td class="td">
					<%= link_to image_tag("http://cp91279.biography.com/1000509261001/1000509261001_2008586720001_BIO-Barack-Obama-SF-FIX-Retry.jpg", class: "images"), topics_path %>
				</td>
				<td class="td">
				<%= link_to image_tag("http://i3.mirror.co.uk/incoming/article3974876.ece/alternates/s615/The-Ebola-virus.jpg", class: "images"), topics_path %>
				</td>
			</tr>
			<tr>
				<td class="td">
					<%= link_to image_tag("http://l.rgbimg.com/cache1n8lHa/users/j/ja/jazza/600/2djsZxD.jpg", class: "images" ), topics_path %>
				</td>
				<td class="td">
					<%= link_to image_tag("http://upload.wikimedia.org/wikipedia/commons/6/6e/Dust_disk_around_massive_star.jpg", class: "images"), topics_path %>
				</td>
			</tr>
		</table>
		</div>
	</body>

</html>