<div class ="splash_container">
	<h1 id="splash_head">News <span id="vince">Ketchup</span></h1>
	<table class="table">
		<tr class="tr">
			<td class="td">
				<%= link_to image_tag(@topics[0].image_url, class: "images"), splash_path(@topics[0].id, Day.get_today.id, 1) %>
			<div class="splash_box"><span class="topic_heading"><%= @topics[0].title %></span></div>
			</td>
			<td class="td">
			<%= link_to image_tag(@topics[1].image_url, class: "images"), splash_path(@topics[1].id, Day.get_today.id, 1) %><div class="splash_box"><span class="topic_heading"><%= @topics[1].title %></span></div>
			</td>
		</tr>
		<tr class="tr">
			<td class="td">
				<%= link_to image_tag(@topics[2].image_url, class: "images" ), splash_path(@topics[2].id, Day.get_today.id, 1) %>
			<div class="splash_box"><span class="topic_heading"><%= @topics[2].title %></span></div>
			</td>
			<td class="td">
				<%= link_to image_tag(@topics[3].image_url, class: "images"), splash_path(@topics[3].id, Day.get_today.id, 1) %>
			<div class="splash_box"><span class="topic_heading"><%= @topics[3].title %></span></div>
			</td>
		</tr>
	</table>
</div>