<!DOCTYPE html>
<html>
		<head>
	   <%= stylesheet_link_tag "splash" %>
	   <link href='http://fonts.googleapis.com/css?family=Londrina+Solid' rel='stylesheet' type='text/css'>
		</head>

		<body>

<div class ="splash_container">
	<h1 id="header">News Ketchup</h1>
		<table class="table">
			<tr>
				<td>
					<%= link_to image_tag("http://cp91279.biography.com/1000509261001/1000509261001_2008586720001_BIO-Barack-Obama-SF-FIX-Retry.jpg"), topics_path %>
				</td>
				<td>
				<%= link_to image_tag("http://i3.mirror.co.uk/incoming/article3974876.ece/alternates/s615/The-Ebola-virus.jpg"), topics_path %>
				</td>
			</tr>
			<tr>
				<td>
					<%= link_to image_tag("http://upload.wikimedia.org/wikipedia/en/thumb/a/ab/GOP_Logo1.svg/1280px-GOP_Logo1.svg.png"), topics_path %>
				</td>
				<td>
					<%= link_to image_tag("http://static.guim.co.uk/sys-images/Media/Pix/pictures/2013/9/16/1379332513590/Teletubbies-006.jpg"), topics_path %>
				</td>
			</tr>
		</table>
			</div>
	</body>

</html>