<!DOCTYPE html>
<html>
		<head>
	   <%= stylesheet_link_tag "splash" %>
	   <link href='http://fonts.googleapis.com/css?family=Londrina+Solid' rel='stylesheet' type='text/css'>
	   <link href='http://fonts.googleapis.com/css?family=Old+Standard+TT:400,700,400italic' rel='stylesheet' type='text/css'>

		</head>

		<body>

<div class ="splash_container">
	<h1 id="splash_head">News <span id="vince">Ketchup</span></h1>
		<table class="table">
			<tr>
				<td class="td">
					<%= link_to image_tag(@topics[0].image_url, class: "images"), topics_path %>
					<span class="topic_heading"><%= @topics[0].title %></span>
				</td>
				<td class="td">
				<%= link_to image_tag(@topics[1].image_url, class: "images"), topics_path %>
				<span class="topic_heading"><%= @topics[1].title %></span>
				</td>
			</tr>
			<tr>
				<td class="td">
					<%= link_to image_tag(@topics[2].image_url, class: "images" ), topics_path %>
					<span class="topic_heading"><%= @topics[2].title %></span>
				</td>
				<td class="td">
					<%= link_to image_tag(@topics[3].image_url, class: "images"), topics_path %>
					<span class="topic_heading"><%= @topics[3].title %></span>
				</td>
			</tr>
		</table>
		</div>
	</body>

</html>